<html>
<body>
	<p>Hello {{.FirstName}} {{.LastName}},</p>

	<p>Your verification code is: {{.V1}}-{{.V2}}-{{.V3}}</p>

	<p>Thank you for using RideSyncer,</p>
	<br/>

	<p>The RideSyncer Team</p>

	<p><a href="www.ridesyncer.com">Website</a></p>
	<p><small>GEDUTech</small></p>
</body>
</html>